{% extends 'base.html.twig' %}

{% block title %}Secured!{% endblock %}

{% block body %}
    You can see this page only if authenticated.
    <a href="{{ url('homepage') }}">Homepage</a>
{% endblock %}
