{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        Welcome, {{ app.user.username }}!<br/>
        {{ dump(app.user) }}
        <a href="{{ url('secured_index') }}">Protected route</a>
        <a href="{{ logout_url("secured_area") }}" id="qsLogoutBtn">
            <button>Logout</button>
        </a>
    {% else %}
        <h1>Symfony Auth0 Quickstart</h1>
        <a href="/connect/auth0" id="qsLoginBtn"><button>Login</button></a>
    {% endif %}
{% endblock %}
